$system-font: --apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font: Infini, $system-font;
$code-font: Menlo, Consalas, "DejaVu Mono", mono;
$post-font: Charter, "Bitstream Charter", Palatino, "Palatino Linotype", "URW Palladio L", "Tex Gyre Pagella", "Book Antiqua", Georgia, serif;
$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 1.333;

$small-font-size:  $base-font-size * 0.875;
$unit:     $base-font-size;
$text-color:       #272634;
$background-color: #F8F9FA;
$link-color:       #2a7ae2;

$grey: #AEAEAE;
$grey-light: #d5d5d5;
$grey-dark:  darken($grey, 25%);
// $grey:       #C4B2B2;
// $grey-light: lighten($grey, 15%);

$navbar-bg-color: #eee;
$navbar-color: black;
$navbar-height: 3em;

$solarized-base01: black;
$solarized-base1: #93a1a1;
$solarized-base3: #fdf6e3;
$solarized-orange: #cb4b16;
$solarized-red: #dc322f;
$solarized-blue: #268bd2;
$solarized-cyan: #2aa198;
$solarized-green: #859900;
$solarized-yellow: #B58900;

// basic reset
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  background-color: $background-color;
  font-size: $base-font-size;
}

body {
  font-family: $base-font;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;

  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;

  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
  }
}

main {
  @extend %centered;
  @extend %container;
  margin: 2.5rem auto;
}
