@fontface {
  font-family: 'Infini';
  src: url('/fonts/infini-regular.woff') format('woff');
}

@fontface {
  font-family: 'Infini';
  font-weight: bold;
  src: url('/fonts/infini-bold.woff') format('woff');
}

@fontface {
  font-family: 'Infini';
  font-style: italic;
  src: url('/fonts/infini-italic.woff') format('woff');
}
