.Home {
  &__Featured {
    margin-top: 2 * $unit;
  }

  &__Heading {
    font-size: $base-font-size;
  }

  &__Projects {
    @extend %list-reset;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: $unit / 2;
  }

  &__Posts {
    @extend %list-reset;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: $unit / 2;
  }
}
