.Home {
  &__Featured {
    margin-top: 4 * $spacing-unit;
  }

  &__Heading {
    font-size: $base-font-size;
  }

  &__Projects {
    @extend %list-reset;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: $spacing-unit / 2;
  }

  &__Posts {
    @extend %list-reset;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: $spacing-unit / 2;
  }
}
