.Navbar {
  @extend %clearfix;

  &__inner {
    @extend %list-reset;
    @extend %container;
    @extend %centered;
  }

  &__item {
    float: left;
    margin-right: 2em;
    padding: $spacing-unit 0;
  }
}



