%block--reset {
  padding: 0;
  margin: 0;
}

%list--reset {
  @extend %block--reset;
  list-style: none;
}

%block--centered {
  margin: 0 auto;
}

%container {
  width: 90%;
  max-width: 42em;
}

%container--centered {
  @extend %container;
  @extend %block--centered;
}

/**
* Clearfix
*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
