%reset {
  padding: 0;
  margin: 0;
}

%list-reset {
  @extend %reset;
  list-style: none;
}

%centered {
  margin: 0 auto;
}

%container {
  width: 90%;
  max-width: 42em;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
