<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{page.title | default: "Michael Yang"}}</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/favicon.png">
</head>
<body>
  <nav class="Navbar">
    <ul class="Navbar__inner">
      <li class="Navbar__item"><a class="Navbar__link" href="/">Home</a></li>
      <li class="Navbar__item"><a class="Navbar__link" href="/blog">Blog</a></li>
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
</body>
</html>
